.weather-wrapper {
    padding: 0 3em;
    display: flex;
    flex-direction: column;
}

.weather-par {
    font-size: 1.6em;
    font-weight: 300;
    text-align: left;
    margin-bottom: 0;
}

.weather-par:last-child {
    padding-bottom: 2em;
}

.weather-error {
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    padding: 1em 0;
}

.icon {
    width: 30px;
}

@media screen and (max-width: 830px) {
    .weather-wrapper {
        /* align-items: left; */
        margin-left: 1em;
    }
}