.wrapper {
  max-width: 880px;
  margin: 5em auto 0 auto;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  color: black;
  box-shadow: 6px 4px 20px 0px rgba(189, 189, 189, 1);
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.heading-wrapper {
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  background-color: #21262b;
  width: 50%;
  padding: 1em 3em;
  color: white;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  margin-top: 0;
}

.lead-sentence {
  font-style: italic;
  font-weight: 300;
  font-size: 1.2em;
}

/* MEDIA QUERIES */

@media screen and (max-width: 830px) {
  .wrapper {
    margin-top: 0;
  }

  .flex-container {
    flex-direction: column;
  }

  .heading-wrapper {
    -webkit-clip-path: none;
    clip-path: none;
    width: 90%;
    padding: 2em 1em;
  }

  h1 {
    font-size: 2em;
    text-align: center;
  }

  .lead-sentence {
    text-align: center;
  }
}
